.displayItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  .label {
    font-size: 13px;
    color: var(--color-grayLight);
  }

  .value {
    font-size: 18px;
    color: var(--color-white);
  }

  .unit {
    margin-left: 2px;
    font-size: 13px;
    color: #171923;
  }
}
